body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --white: #fafafa; */
/* --darkBlue: #2274a5; */
/* --purple: #8349ff; */
/* --red: #f75c03; */
/* --yellow: #ffd50c; */
/* --lightblue: #01c8ef; */
/* --headerFont: "Nunito", sans-serif; */
/* --projectFont: "Quicksand", sans-serif; */
